$toolbar-height: 4rem;
.spacer {
  flex: 1 1 auto;
}

.grid {
  display: grid;
  gap: 2.5rem;
  background-color: #F5F5F5;
  padding: $toolbar-height 0 2.5rem 0;
}
/*            Paquetes             */
.content-container {
  margin: 0  4rem;
  background-color: #fff;
  min-height: auto;
  &-cards {
    @extend .content-container;
    padding: 5rem;
    background-image: url("../../../assets/2.png");
    background-repeat: no-repeat!important;
    background-size: 40%;
    .card {
      height: 100%;
      text-align: justify;
    }
    .card img{
      height: 200px;
    }
    .list{
      list-style: none;
      padding: 1px;
    }
    .content-container-info{
      margin-top: -10px;
      margin-bottom: 3rem!important;
      text-align: center;
      h1{
        font-size: 25px;
      }
      p{
        font-size: 16px;
      }
    }
    .box-card{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
    }
  }
  
  .example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-size: cover;
  }
}
/*        swiper        */

.swiper {
  width: 100%;
  height: 65vh;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-image {
  width: 100%;
  height: 100%;
  background-size: cover !important;
}

.swiper-logo {
  height: 3rem;
  width: auto;
  background-size: cover!important;
}

/*        sección de información        */
.info{
  width: 100%;
  height: 100%;
  left: 30px;
  background: #FFFFFF;
  background-image: url("../../../assets/1.png");
  background-repeat: no-repeat;
  background-size: 35%;
  transform: rotate(179.99deg); 
}
.wrapper {
  display: grid;
  transform: rotate(-179.99deg); 
  grid-template-columns: 1fr 1fr;
  height: 100%;
}

.left{
  margin: 2rem!important;
  h2{
    font-size: 22px;
    font-weight: bold;
  }
  img{
    width: 400px;
    margin-left: 4rem;
  }
}
.right{
  margin: 2rem!important;
  img{
    width: 350px;
    margin: 2rem;
  }
  h3{
    font-size: 19px;
    font-weight: bold;
  }
  p{
    font-size: 1rem;
    text-align: justify;
    margin-right: 4rem;
  }
}
/*          Footer           */
.wrappers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  
}

.footer-distributed {
  background-color: #ffff;
  box-sizing: border-box;
  padding: 45px 50px;
  position: absolute;
  width: 100%;
}

.footer-right {
  margin-top: 6px;
  background-color: #18A0FB;
  max-width: 30%;
  grid-column: 1;
  grid-row: 1;
  .logos {
    height: 2rem;
    padding-right: 1rem;
  }
}

.footer-center {
  float: center;
  margin-top: 6px;
  max-width: 30%;
  grid-column: 2;
  grid-row: 1;
  background-color: aqua!important;
}

.footer-left {
  font-size: 15px;
  grid-column: 3;
  grid-row: 1;
  color: #000000;
  max-width: 30%;
  text-align: justify;
  background-color: blueviolet;
}

.copy{
  color: #18A0FB!important;
  margin-top: 15px;
  text-align: center;
}

/* Media Queries */

@media (max-width: 600px) {
  .footer-distributed .footer-left, .footer-distributed .footer-right {
    text-align: center;
  }
  .footer-distributed .footer-right {
    float: none;
    margin: 0 auto 20px;
  }
  .footer-distributed .footer-left p.footer-links {
    line-height: 1;
  }
}






