@use 'node_modules/@not-or/ui' as ui;
$input-margin: 1.59375rem;

.form {
  padding: $input-margin;
  .form-section {
    display: grid;
    column-gap: $input-margin;
    @include ui.tablet {
      grid-template-columns: repeat(auto-fit, minmax(204px, 1fr));
    }
    @include ui.desktop {
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    }
  }
}
