<wo-header (menuClick)="drawer.toggle()" [opened]="drawer.opened" [loggedIn]="loggedIn$ | async" class="fixed-top"></wo-header>
<mat-drawer-container [hasBackdrop]="true" class="drawer">
  <mat-drawer mode="over" #drawer class="drawer">
    <div class="full-height flex-column">
      <wo-panel-button [routerLink]="['./jobs']" label="Vacantes" icon="assignment_ind"></wo-panel-button>
      <wo-panel-button [routerLink]="['./cv']" label="CV Digital" icon="description"></wo-panel-button>
      <span class="spacer"></span>
      <wo-panel-button (click)="logout(drawer)" label="Cerrar Sesión" icon="exit_to_app"></wo-panel-button>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="full-height">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>


