<div class="dashboard">
  <ng-container *ngIf="user$ | async as user">
    <div *ngIf="user" class="panel">
      <div class="flex-centered profile">
        <img
          [src]="user.photo"
          alt="User's profile picture"
          referrerpolicy="no-referrer"
          height="128px" wwidth="128px"
          class="profile-picture">
        <h2>{{ user.name }}</h2>
      </div>
      <mat-divider></mat-divider>
      <div class="panel-navigation">
        <wo-panel-button [routerLink]="['./']" label="Vacantes" icon="assignment_ind"></wo-panel-button>
        <wo-panel-button [routerLink]="['./new-post']" label="Nueva Vacante" icon="assignment_turned_in"></wo-panel-button>
        <wo-panel-button [routerLink]="['./profile']" label="Perfil" icon="account_circle"></wo-panel-button>
      </div>
    </div>
  </ng-container>
  <div class="overflow">
    <router-outlet></router-outlet>
  </div>
</div>
