<div class="grid-container">
  <header class="header">
    <img src="./assets/workclick.svg" class="logo">
  </header>
  <aside class="sidenav">
    <div class="info-user">
        <img class="avatar" src="./assets/avatar.svg" alt="User Avatar">
        <div class="spacer">
            <h2>Tania Jiménez</h2>
            <p>AVANTIKA</p>
        </div>
        <hr class="line">
        <mat-list role="list" class="menu">
            <button mat-button><mat-list-item role="listitem"><mat-icon>assignment_ind</mat-icon><a href="">Vacantes</a></mat-list-item></button>
            <button mat-button><mat-list-item role="listitem"><mat-icon>assignment_turned_in</mat-icon><a href="">Nueva vacante</a></mat-list-item></button>
            <button mat-button><mat-list-item role="listitem"><mat-icon>account_circle</mat-icon><a href="">Perfil</a></mat-list-item></button>
          </mat-list>
    </div>
  </aside>
  <main class="main"></main>
</div>