<div class="admin">
  <header class="admin__header">
    <div class="toolbar">
      <img src="./assets/workclick.svg" class="logo">
    </div>
  </header>
  <nav class="admin__nav">
    <div class="info-user">
      <img class="avatar" src="./assets/avatar.svg" alt="User Avatar">
      <div class="spacer">
          <h2>Tania Jiménez</h2>
          <p>AVANTIKA</p>
      </div>
      <hr class="line">
    
  </div>
    <ul class="menu">
      <li class="menu__item">
        <a class="menu__link" href="#"><mat-icon class="icon">assignment_ind</mat-icon>Vacantes</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#"><mat-icon class="icon">assignment_turned_in</mat-icon>Nueva vacante</a>
      </li>
      <li class="menu__item">
        <a class="menu__link" href="#"><mat-icon class="icon">account_circle</mat-icon>Perfil</a>
      </li>
    </ul>
  </nav>
  <!--app-vacantes></app-vacantes-->
  <!--app-nueva-vacante></app-nueva-vacante-->
  <app-list-candidatos></app-list-candidatos>



