@use '@angular/material' as mat;

$primary: #1cdaff;
$accent: #13fcae;

$primary-hues: (
  50: #e4fbff,
  100: #bbf4ff,
  200: #8eedff,
  300: #60e5ff,
  400: #3ee0ff,
  500: $primary,
  600: #19d6ff,
  700: #14d0ff,
  800: #11cbff,
  900: #09c2ff,
  A100: #ffffff,
  A200: #f5fcff,
  A400: #c2eeff,
  A700: #a8e7ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$accent-hues: (
  50: #e3fff5,
  100: #b8fee7,
  200: #89fed7,
  300: #5afdc6,
  400: #36fcba,
  500: $accent,
  600: #11fca7,
  700: #0efb9d,
  800: #0bfb94,
  900: #06fa84,
  A100: #ffffff,
  A200: $accent, //#eefff6
  A400: #bbffdb,
  A700: #a2ffce,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$primary-palette: mat.define-palette($primary-hues);
$accent-palette: mat.define-palette($accent-hues, A200, A100, A400);
