<div class="grid-center-items" (click)="$event.stopPropagation();">
  <img src="./assets/workclick.svg" class="logo">
  <p class="mat-display-1">Inicia sesión</p>
  <button class="full-width-container" mat-stroked-button (click)="loginWithGoogle()">
    <div class="flex-centered">
      <img src="./assets/google.svg" class="google">
      <p>Continua con Google</p>
    </div>
  </button>
  <p class="full-width-container">o usa tu correo electrónico para iniciar sesión:</p>
  <mat-form-field appearance="outline" class="full-width-container">
    <mat-label>Correo electrónico</mat-label>
    <input matInput [formControl]="control">
    <mat-error *ngIf="control.invalid">El correo es inválido</mat-error>
  </mat-form-field>
  <button class="full-width-container" mat-raised-button color="primary" [disabled]="control.invalid" (click)="loginWithEmail()">Iniciar sesión</button>
</div>
