@use 'node_modules/@not-or/ui' as ui;

.icon-container {
  margin-bottom: 1.34375em;
}

.grid-center-items {
  gap: 2rem;
  margin-bottom: 2rem;
}

.google {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 1rem;
}

.full-width-container {
  @include ui.full(20%, width);
}

.logo {
  @extend .full-width-container;
  margin: 2rem;
}
