<main class="admin__main">
  <div class="dashboard">
    <div class="cards">
      <div class="info-cards">
        <h1>Practicante TI</h1>
        <span>AVANKITA</span>
        <hr class="line">
      <ul>
        <li>Zapopan Jalisco</li>
        <li>$4,800 mensuales</li>
        <li>Tiempo indeterminado</li>
        <li>2 vacantes</li>
      </ul>
      <hr class="line">
      <h4>Requisitos: </h4>
      <ul>
        <li>Carrera: Sistemas, programación, desarrollo web</li>
        <li>Sexo: Indistinto</li>
        <li>Edad: Indistinto</li>
        <li>Horario: Matutino o vespertino 5 horas diarias</li>
      </ul>
      <hr class="line">
      <h4>Conocimientos y habilidades</h4>
      <p>Deseable conocimiento básico en sql, help desk empresarial, conocimiento básico en creación de tableros
        de Power BI, buena comunicación, trabajo en equipo.</p>
        <hr class="line">
        <h4>Actividades</h4>
        <p>Apoyo en la solución de tickets de soporte, esclarecimiento de dudas hacia el cliente indeterminado
          en temas de reportes, apoyo básico de revisión de accesos y permisos.</p>
        
      <div class="btn">
        <button class="btn-acces" mat-raised-button>Modificar</button>
        &nbsp;
        <button mat-raised-button color="primary">Ver Candidatos</button>
      </div>
      </div>
    </div>
    <div class="cards">
      <div class="info-cards">
        <h1>Practicante TI</h1>
        <span>AVANKITA</span>
        <hr class="line">
      <ul>
        <li>Zapopan Jalisco</li>
        <li>$4,800 mensuales</li>
        <li>Tiempo indeterminado</li>
        <li>2 vacantes</li>
      </ul>
      <hr class="line">
      <h4>Requisitos: </h4>
      <ul>
        <li>Carrera: Sistemas, programación, desarrollo web</li>
        <li>Sexo: Indistinto</li>
        <li>Edad: Indistinto</li>
        <li>Horario: Matutino o vespertino 5 horas diarias</li>
      </ul>
      <hr class="line">
      <h4>Conocimientos y habilidades</h4>
      <p>Deseable conocimiento básico en sql, help desk empresarial, conocimiento básico en creación de tableros
        de Power BI, buena comunicación, trabajo en equipo.</p>
        <hr class="line">
        <h4>Actividades</h4>
        <p>Apoyo en la solución de tickets de soporte, esclarecimiento de dudas hacia el cliente indeterminado
          en temas de reportes, apoyo básico de revisión de accesos y permisos.</p>
        
      <div class="btn">
        <button class="btn-acces" mat-raised-button>Modificar</button>
        &nbsp;
        <button mat-raised-button color="primary">Ver Candidatos</button>
      </div>
      </div>
    </div>
    <div class="cards">
      <div class="info-cards">
        <h1>Practicante TI</h1>
        <span>AVANKITA</span>
        <hr class="line">
      <ul>
        <li>Zapopan Jalisco</li>
        <li>$4,800 mensuales</li>
        <li>Tiempo indeterminado</li>
        <li>2 vacantes</li>
      </ul>
      <hr class="line">
      <h4>Requisitos: </h4>
      <ul>
        <li>Carrera: Sistemas, programación, desarrollo web</li>
        <li>Sexo: Indistinto</li>
        <li>Edad: Indistinto</li>
        <li>Horario: Matutino o vespertino 5 horas diarias</li>
      </ul>
      <hr class="line">
      <h4>Conocimientos y habilidades</h4>
      <p>Deseable conocimiento básico en sql, help desk empresarial, conocimiento básico en creación de tableros
        de Power BI, buena comunicación, trabajo en equipo.</p>
        <hr class="line">
        <h4>Actividades</h4>
        <p>Apoyo en la solución de tickets de soporte, esclarecimiento de dudas hacia el cliente indeterminado
          en temas de reportes, apoyo básico de revisión de accesos y permisos.</p>
        
      <div class="btn">
        <button class="btn-acces" mat-raised-button>Modificar</button>
        &nbsp;
        <button mat-raised-button color="primary">Ver Candidatos</button>
      </div>
      </div>
    </div> 
    </div>
</main>
