<app-header></app-header>
<div class="grid">
  
  <div class="content-container">
    <div class="content-container-plans">
        <h1>Plan Profesional MX $200.00 al mes</h1>
        <p>Consigue más herramientas para tu agencia, gestiona tus publicaciónes y genera vacantes de manera ilimitada para que puedas brindar un mejor servicio a tus clientes. El plan profesional es ideal para agencias de recursos humanos ya que te permite trabajar con mayor flujo de información.</p>
        <hr>
      </div> 
    <div class="details">
      <div class="colum">
        <ul class="list">
          <li>
              <mat-icon color="primary">done</mat-icon>
              <span>Creación de cuenta gratis.</span>
          </li>
          <li >
              <mat-icon color="primary">done</mat-icon>
              <span>Publicación de vacantes ilimitadas.</span>
          </li>
          <li>
              <mat-icon color="primary">done</mat-icon>
              <span>Dashboard personal para gestionar la información.</span>
          </li>
          <li>
            <mat-icon color="primary">done</mat-icon>
            <span>Publicación de 3 vaners publicitarios con nosotros.</span>
        </li>
      <li>
        <mat-icon color="primary">done</mat-icon>
        <span>Creación de quiz para primer filtro de manera ilimitada.</span>
    </li>
      </ul>
      </div>
      <div class="colum">
        <ul class="list">
          <li>
              <mat-icon color="primary">done</mat-icon>
              <span>Creación de cuenta gratis.</span>
          </li>
          <li >
              <mat-icon color="primary">done</mat-icon>
              <span>Publicación de 3 vacantes.</span>
          </li>
          <li>
              <mat-icon color="primary">done</mat-icon>
              <span>Dashboard personal.</span>
          </li>
          <li>
            <mat-icon color="primary">done</mat-icon>
            <span>Dashboard personal.</span>
        </li>
        <li>
          <mat-icon color="primary">done</mat-icon>
          <span>Dashboard personal.</span>
      </li>
      </ul>
      <button mat-stroked-button class="color-btn">Adquirir Plan</button>
      </div>
      <div class="colum">
        <img src="../../../assets/undraw_Hiring_re_yk5n.png" alt="">
      </div>
    </div>
  </div>
  <div class="content-container-cards">
    <div class="content-container-info">
      <h1>¿Buscas algo más completo?</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, quo. Quas modi exercitationem consequuntur quod provident maxime eos a, 
         facilis ducimus animi aliquam deleniti odio amet tenetur! Consectetur, dicta ex!</p>
            
    </div>
   <div class="box-card">
    <div class="card">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Libre</mat-card-title>
          <mat-card-subtitle>$00.00 / Prueba nuestro servicio</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/undraw_updated_resume_re_7r9j (1).svg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <ul class="list">
            <li>
                <mat-icon color="primary">done</mat-icon>
                Creación de cuenta gratis
            </li>
            <li >
                <mat-icon color="primary">done</mat-icon>
                Publicación de 3 vacantes
            </li>
            <li>
                <mat-icon color="primary">done</mat-icon>
                Dashboard personal
            </li>
        </ul>
            <br>
          <p>
            Comienza a trabajar con nosotros y prueba nuestro servicio de reclutamiento para tu empresa,
            publica el perfil que necesitas y consigue personal capacitado para cubrir tus necesidades empresariales.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button color="primary">Ver más</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="card">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Profesional</mat-card-title>
          <mat-card-subtitle>$200.00 / Mensual</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/undraw_completing_re_i7ap.svg" alt="">
        <mat-card-content>
          <ul class="list">
            <li>
                <mat-icon color="primary">done</mat-icon>
                Creación de vacantes ilimitadas
            </li>
            <li >
                <mat-icon color="primary">done</mat-icon>
                Item one
            </li>
            <li>
                <mat-icon color="primary">done</mat-icon>
                Item one
            </li>
        </ul>
            <br>
          <p>
            Para un acceso avanzado y controles dedicados a la creación 
            de vacantes ilimitadas para un sólo editor, el plan Empresarial 
            lo ayuda a escalar los procesos de reclutamiento en toda la empresa.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button color="primary">Ver más</button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="card">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Págo anual</mat-card-title>
          <mat-card-subtitle>$1000.00 / Año</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/undraw_interview_re_e5jn.svg" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <ul class="list">
            <li>
                <mat-icon color="primary">done</mat-icon>
                Item one
            </li>
            <li >
                <mat-icon color="primary">done</mat-icon>
                Item one
            </li>
            <li>
                <mat-icon color="primary">done</mat-icon>
                Item one
            </li>
        </ul>
            <br>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button color="primary">Ver más</button>
        </mat-card-actions>
      </mat-card>
    </div>
   </div>
  </div>
  <div class="content-container">
    
  </div>
</div>




